//Bonus

section.bonus
	.container
		.bonus__body
			.bonus__column
				.bonus__item
					img(src="./assets/imgs/bonus/01.svg" alt="icon").bonus__img
					.bonus__content
						h3.bonus__title Loyalty Points
						p.bonus__text Collect points on each store and redeem them to change for Teas.
				.bonus__item
					img(src="./assets/imgs/bonus/02.svg" alt="icon").bonus__img
					.bonus__content
						h3.bonus__title Exclusive Store Discounts
						p.bonus__text You can enjoy lots of discounts from the selected stores near you.
				.bonus__item
					img(src="./assets/imgs/bonus/03.svg" alt="icon").bonus__img
					.bonus__content
						h3.bonus__title T.Pass Free Drinks
						p.bonus__text 2 Teas for $5.99 each month. and you can carry them over to the next month.
			.bonus__image
				img(src="./assets/imgs/bonus/04.png" alt="woman")