//Enjoy

section.enjoy
	.container
		.enjoy__body
			img(src="./assets/imgs/enjoy/01.svg" alt="").enjoy__image
			h2.enjoy__title Enjoy your afternoon tea with a snack
			form(action="#").enjoy__form
				.enjoy__input
					input(autocomplete="off" type="tel" name="form[]" data-error="" data-value="Enter mobile number").input
				.enjoy__button
					button(type="submit").enjoy__btn Send Link
			.enjoy__links
				a(href="#").enjoy__link
					img(src="./assets/imgs/enjoy/02.svg" alt="")
				a(href="#").enjoy__link
					img(src="./assets/imgs/enjoy/03.svg" alt="")