//footer


footer.footer
	img(src="./assets/imgs/footer/01.svg" alt="").footer__image
	img(src="./assets/imgs/footer/02.svg" alt="").footer__img
	.container
		.footer__row
			.footer__logo
				a(href="#") 
					img(src="./assets/imgs/footer/logo.svg" alt="logo")
			.footer__content
				ul.footer__company
					li
						a(href="#").footer__title Company
					li
						a(href="#").footer__link Merchant Portal
				ul.footer__support
					li
						a(href="#").footer__title Support
					li
						a(href="#").footer__link FAQ
					li
						a(href="#").footer__link Terms of Service
					li
						a(href="#").footer__link Privacy Policy
				ul.footer__social
					li
						a(href="#").footer__title Follow Us
					li
						a(href="#").footer__link Twitter
					li
						a(href="#").footer__link Instagram
					li
						a(href="#").footer__link Facebook
