//Header


.header
	.container
		.header__body
			.header__column
				a(href="#").header__logo
					img(src="./assets/imgs/logo.svg" alt="logo")
			.header__column.menu-header
				.menu-header__icon
					span
					span
					span
				nav.menu-header__menu
					ul.menu-header__list
						li
							a(href="#").menu-header__link Stores
						li
							a(href="#").menu-header__link Help & Support
					.header__button
						a(href="#").header__btn Download