//Intro


section.intro
	.container
		.intro__content
			h1.intro__title <span class="intro__color">Order ahead</span> and earn rewards for every purchase<span class="intro__dot">.</span>
			.intro__button
				a(href="#").intro__btn Discover how
		.intro__image
			img(src="./assets/imgs/intro/01.png" alt="people")