//Order


section.order
	.container
		.order__row
			.item
				img(src="./assets/imgs/order/01.svg" alt="icon").item__img
				h2.item__title Order ahead, skip the line
				p.item__text Feel like a rock star when you bypass the line and save a bunch of time.
			.item
				img(src="./assets/imgs/order/02.svg" alt="icon").item__img
				h2.item__title Bonus and discounts
				p.item__text You can enjoy lots of discounts from the selected stores, or accumulate points.
			.item
				img(src="./assets/imgs/order/03.svg" alt="icon").item__img
				h2.item__title Share with your friends
				p.item__text Send gifts to your friends and family, and pick up for your coworkers when they can't get away .