//Send

section.send
	.container
		.send__body
			.send__content
				h4.send__subtitle Please your friends
				h2.send__title Send gifts and order for groups
				p.send__text Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
			.send__imgs-column
				.send__imgs
					img(src="./assets/imgs/send/01.png" alt="").send__imgs-phone
					img(src="./assets/imgs/send/02.png" alt="").send__imgs-glass
					img(src="./assets/imgs/send/03.png" alt="").send__imgs-berry
					
				